<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klnet.owner">
   <!-- <resultMap type="com.example.domain.DemoDTO" id="demoDTO">
      <result column="test_column" property="testColumn"/>
   </resultMap> -->


	<select id="selectIsoPort" resultType="string">
		select iso_port_code from own_vsl_sch_iso_port_code
	</select>

	<select id="selectPostgresqlToOracle" resultType="string">
		select sf_postgresql_to_oracle()
	</select>
	
	<select id="selectPostgresqlFromOracle" resultType="string">
		select sf_postgresql_from_oracle()
	</select>
	<select id="selectPostgresqlFromOracle2" resultType="string">
		select sf_postgresql_from_oracle2()
	</select>
	
	<select id="selectPostgresqlThread" resultType="string">
		select sf_postgresql_thread()
	</select>

   <select id="selectOwnVslSchMSCList" resultType="java.util.HashMap">
   		<![CDATA[   
		select 
			line_code, voyage_no, vsl_name, svc, line_vsl, 
			start_date, start_port_code, start_port_name, 
			end_date, end_port_code, end_port_name, pol, pod, 
			act_voyage_no, act_vsl_name, terminal, ts_yn, 
			insert_date, insert_user, update_date, update_user, 
			pol_date, pod_date, ts1_port_code, ts1_port_name, 
			ts2_port_code, ts2_port_name, ts3_port_code, ts3_port_name, 
			doc_closing_date, cargo_closing_date 
		from own_vsl_sch
		where line_code ='MSC'
		and  start_date > to_char(now(), 'yyyymmdd')
		order by line_code, vsl_name, voyage_no, svc, start_date, start_port_code
		]]>
   </select>	
	

	
<!-- 	
    <select id="selectPostgresqlFromOracle" statementType="CALLABLE">
        { call sp_postgresql_from_oracle() }
    </select>
	
	
    <select id="selectPostgresqlFromOracle2" statementType="CALLABLE">
        { call sp_postgresql_from_oracle2() }
    </select>
-->
<!-- 	
	<parameterMap id="paramMap" type="java.util.HashMap">
		<parameter property="carrier_code" javaType="java.lang.String" jdbcType="VARCHAR" mode="IN"/>
		<parameter property="doc_name" javaType="java.lang.String" jdbcType="VARCHAR" mode="IN"/>
	</parameterMap>
		
	<select id="selectPostgresqlFromOracle" statementType="CALLABLE">
        select sp_postgresql_from_oracle()
    </select>
 -->
</mapper>
